.gridroot {
  position: relative;
  width: 100%;
  height: 100%;
}
.header {
  position: relative !important;
  width: 100%;
  height: 3.5rem !important;
}
.centerContainer {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  overflow-y: scroll;
}
.centerContainer > div {
  padding: 30px;
}
.footer {
  position: relative;
  width: 100%;
  height: 3.5rem !important;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.footer button {
  max-width: inherit;
}
.footer button svg {
  font-size: 1.5rem;
}
.timeleft {
  background-color: #f0ece2 !important;
  padding: 30px;
}
.timeleft > div:nth-child(1) {
  font-size: 1.875rem;
  text-align: center;
  padding-top: 30px;
  letter-spacing: 0.0625rem;
}
.timeleft > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
  height: 0.25rem !important;
}
.timeleft > div:nth-child(1) > div:nth-child(2) {
  margin-top: 0.625rem;
  background-image: -webkit-linear-gradient(315deg, deeppink, dodgerblue);
  background-image: linear-gradient(135deg, deeppink, dodgerblue);
  background-clip: text;
  -webkit-background-clip: text;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  color: transparent;
}
.timeleft > div:nth-child(2) {
  font-size: 0.875rem;
  text-align: center;
  margin-top: 1.25rem;
  letter-spacing: 0.0625rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.timeleft > div:nth-child(2) > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.timeleft > div:nth-child(2) > div > div:nth-child(1) {
  position: relative;
  font-size: 0;
}
.timeleft > div:nth-child(2) > div > div:nth-child(1) > div {
  width: 2.5rem !important;
  height: 2.5rem !important;
}
.timeleft > div:nth-child(2) > div > div:nth-child(1) > div:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.timeleft > div:nth-child(2) > div > div:nth-child(2) {
  margin-top: 0.625rem;
}
.button {
  margin-top: 30px !important;
}
