@import "base.less";

.indexTimePage {
  flex: 1 1 auto;
  margin: @gap;
}

.timeleft {
  background-color: @bg!important;
  padding: @gap;
  > div:nth-child(1) {
    font-size: 1.875rem;
    text-align: center;
    padding-top: @gap;
    letter-spacing: 0.0625rem;
    > div:nth-child(1) {
      > div:nth-child(1) {
        height: 8px !important;
      }
    }
    > div:nth-child(2) {
      margin-top: 20px;
      //background-image: linear-gradient(to right, deeppink, dodgerblue);
      background-image: linear-gradient(135deg, deeppink, dodgerblue);
      background-clip: text;
      -webkit-background-clip: text;
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
      color: transparent;
    }
  }
  > div:nth-child(2) {
    font-size: 0.875rem;
    text-align: center;
    margin-top: 40px;
    letter-spacing: 0.0625rem;
    display: flex;
    > div {
      flex: 1;
      > div:nth-child(1) {
        position: relative;
        font-size: 0;
        > div {
          width: 80px !important;
          height: 80px !important;
        }
        > div:nth-child(2) {
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          margin: auto;
        }
      }
      > div:nth-child(2) {
        margin-top: 10px;
      }
    }
  }
}

.button {
  margin-top: @gap!important;
}
