.indexTimePage {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 20px;
}
.timeleft {
  background-color: #F0ECE2 !important;
}
.timeleft > div:nth-child(1) {
  font-size: 48px;
  text-align: center;
  padding-top: 20px;
}
.timeleft > div:nth-child(1) > span {
  font-weight: bold;
  letter-spacing: 5px;
}
.timeleft > div:nth-child(2) {
  font-size: 36px;
  text-align: center;
  padding-bottom: 20px;
  letter-spacing: 5px;
}
